<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<!--  create a login form -->
    <div class="container mt-5 w-50">
        <h1>Authentication</h1>
        <form method="post" th:action="@{/login}" class="w-50">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
<!--          Create remember me checkbox-->
            <div class="form-check mb-3">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="remember-me" id="remember-me">
                Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div th:if="${param.error}" class="alert alert-danger mt-3">
            Invalid username or password.
        </div>
    </div>
</body>
</html>